.app_theme_light {
  --bg-color: rgb(214 214 214);
  --inverted-bg-color: rgb(4 50 136);
  --primary-color: rgb(26 110 189);
  --secondary-color: rgb(33 69 148);
  --inverted-primary-color: rgb(27 197 27);
  --inverted-secondary-color: rgb(3 194 3);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #d3d3d3;

  // card
  --card-bg: #fffdfd;
}
