.app_theme_orange {
  --bg-color: #fbf7f4;
  --inverted-bg-color: #ff9842;
  --primary-color: #ff2d1a;
  --secondary-color: #cb1b0b;
  --inverted-primary-color: #fbf7f4;
  --inverted-secondary-color: rgb(255 227 208);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
